        <h1>document infomation</h1>
        <p>
            <strong>document name:</strong>
            <%= @book.name %>
        </p>
        <p>
            <strong>price:</strong>
            <%= @book.price %>
        </p>
        <p>
            <strong>published date:</strong>
            <%= @book.published_on.to_s %>
        </p>